<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="MoviesAppTestSuite" parallel="tests" thread-count="2">

    <test name="LoginPageTest" >
        <classes>
            <class name="LoginPageTest" />
        </classes>
    </test>
    <test name="HomePageTest" >
        <classes>
            <class name="HomePageTest" />
        </classes>
    </test>
    <test name="HeaderSectionTest" >
        <classes>
            <class name="HeaderSectionTest" />
        </classes>
    </test>
    <test name="PopularPageTest" >
        <classes>
            <class name="PopularPageTest" />
        </classes>
    </test>
    <test name="SearchPageTest" >
        <classes>
            <class name="SearchPageTest" />
        </classes>
    </test>
    <test name="MovieDetailsPageTest" >
        <classes>
            <class name="MovieDetailsPageTest" />
        </classes>
    </test>
    <test name="AccountPageTest" >
        <classes>
            <class name="AccountPageTest" />
        </classes>
    </test>

</suite>


